{
  "extends": ["eslint:recommended", "prettier"],
  "parser": "babel-eslint",
  "plugins": ["prettier"],
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module"
  },
  "env": {
    "browser": true,
    "es6": true,
    "node": true
  },
  "rules": {
    "arrow-body-style": [1, "as-needed"],
    "indent": ["off", "spaces", { "SwitchCase": 1, "VariableDeclarator": 1 }],
    "no-alert": 0,
    "no-console": 0,
    "no-debugger": 1,
    "newline-before-return": "error",
    "no-useless-escape": 0
  }
}
