{
  "env": {
    "node": true,
    "es2021": true
  },
  "extends": ["eslint:recommended", "prettier"],
  "plugins": ["prettier"],
  "overrides": [
  ],
  "parserOptions": {
    "ecmaVersion": "latest",
    "sourceType": "module"
  },
  "rules": {
    "no-unused-vars": "warn",
    "prettier/prettier": "error",
    "newline-before-return": "warn",
    "no-useless-escape": 0
  }
}
